:root {
  --accent-color: #2196f3;
  --main-text-black-color: #212121;
  --main-white-color: #ffffff;
  --main-grey-color: #757575;
  --dark-background-color: #2f303a;
  --button-filter-background-color: #f5f4fa;
  --footer-text-semi-transparent-color: rgba(255, 255, 255, 0.6);
  --grey-icons-color: #afb1b8;
}

/* Global Styles */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-black-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}

/* -=-=-=-=-=-=- UTILITY CLASSES -=-=-=-=-=-=-  */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -=-=-=-=-=-=- HEADER -=-=-=-=-=-=-  */
.header {
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.header__main__nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  font-family: "raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  line-height: 31px;
}
.logo-blue-black {
  color: #000000;
}
.logo-blue-white {
  color: var(--main-white-color);
}

.header__main__nav__list {
  display: flex;
  gap: 50px;
  margin-right: auto;
}

.header__contacts__list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header__main__nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-black-color);
}
.header__main__nav__link:hover,
.header__main__nav__link:focus {
  color: var(--accent-color);
}

.header__contacts {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-grey-color);
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
  width: 1em;
  height: 1em;
}

.header__contacts:hover,
.header__contacts:focus {
  color: var(--accent-color);
}

/* -=-=-=-=-=-=- FOOTER -=-=-=-=-=-=-  */
.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .container {
  display: flex;
  gap: 70px;
}

.socials__list {
  display: flex;
  gap: 10px;
}

.social__icon {
  fill: white;
}

.socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.footer__address__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.footer__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-semi-transparent-color);
}

.footer__address:hover,
.footer__contacts:hover,
.footer__contacts:focus {
  color: var(--accent-color);
}

.footer__join__us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

/* -=-=-=-=-=-=- INDEX HERO -=-=-=-=-=-=-  */
.hero__section {
  min-height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-background-color);
  color: var(--accent-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-slogan {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.hero__order__service {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* -=-=-=-=-=-=- ADVANTAGES -=-=-=-=-=-=-  */
.advantages__list {
  display: flex;
  gap: 30px;
}
.advantages__list__item {
  width: calc((100% - 90px) / 3);
}

.advantages__list__header {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}

.pseudo__element::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26%;
}

.antenna::before {
  background-image: url(../images/svg/features-antenna.svg);
}

.clock::before {
  background-image: url(../images/svg/features-clock.svg);
}

.diagram::before {
  background-image: url(../images/svg/features-diagram.svg);
}

.astronaut::before {
  background-image: url(../images/svg/features-astronaut.svg);
}

/* -=-=-=-=-=-=- WHAT WE DO -=-=-=-=-=-=-  */
.section.what__we__do {
  padding-top: 0;
}
.what__we__do__list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
/* -=-=-=-=-=-=- OUR TEAM -=-=-=-=-=-=-  */
.our__team {
  background: var(--button-filter-background-color);
}
.our__team__header {
  margin-bottom: 50px;
}
.our__team__list {
  display: flex;
  gap: 30px;
}
.our__team__list__item {
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.our__team__list__item__portrait {
  margin-bottom: 30px;
}
.section-block-header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our__team__list__item__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}

.our__team .socials__list {
  margin-top: 16px;
  justify-content: center;
}
.our__team .socials__link {
  background: none;
  color: var(--grey-icons-color);
}

.our__team .socials__link:hover,
.our__team .socials__link:focus {
  background-color: var(--accent-color);
  color: white;
}

.our__team .social__icon {
  fill: currentColor;
}

/* -=-=-=-=-=-=- OUR CLIENTS -=-=-=-=-=-=-  */
.our__clients.section {
  padding-top: 38px;
}

.clients__list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.clients__list__item {
}

.clients__list__link {
  display: flex;
  color: var(--grey-icons-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
}

.clients__list__link:hover,
.clients__list__link:focus {
  color: var(--accent-color);
}

.clients__list__icon {
  fill: currentColor;
  height: 120%;
}
/* -=-=-=-=-=-=- Portfolio CSS -=-=-=-=-=-=- */
/* -=-=-=-=-=-=- Portfolio CSS -=-=-=-=-=-=- */
/* -=-=-=-=-=-=- Portfolio CSS -=-=-=-=-=-=- */

.portfolio__filters__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.portolio__filters__button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
}
.portolio__filters__button:focus,
.portolio__filters__button:hover {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__list__item {
  background: #ffffff;
  /* border: 1px solid #eeeeee; */
}
.portfolio__list__item__description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__list__item__project__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-black-color);
  margin-bottom: 4px;
}

.portfolio__list__item__project__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}
