.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__socials {
  gap: 10px;
}

.footer__logo {
  margin-right: 93px;
}

.footer > .container {
  display: flex;
  gap: 70px;
}

.footer__form__button {
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 8px 30px;
}

.footer__address__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  transition: color 250ms var(--bezier);
}

.footer__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-semi-transparent-color);
  transition: color 250ms var(--bezier);
}

.footer__address:hover,
.footer__contacts:hover,
.footer__contacts:focus {
  color: var(--accent-color);
}

.footer__join__us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__form > div {
  display: flex;
  gap: 12px;
}

.footer__form__label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-bottom: 20px;
}

.footer__form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  line-height: 1.25;
  color: var(--main-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  transition: outline 250ms var(--bezier), border-color 250ms var(--bezier);
}

.footer__form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form__input:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}

.footer__form__button__icon {
  fill: currentColor;
}
