.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 250ms var(--bezier);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  transform: scale(1);
  transition: transform 250ms var(--bezier) 100ms;
  padding: 40px;
}

.close__button {
  position: absolute;
  right: 8px;
  top: 8px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-white-color);
  border-radius: 50%;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: scale(0.8);
  transition: transform 250ms var(--bezier);
}

.modal__form__slogan {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__form__label {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.modal__form__label__tag {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-grey-color);
}

.modal__form__input {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  transition: outline 250ms var(--bezier), border-color 250ms var(--bezier);
}

.modal__form__input:focus-visible {
  border-color: var(--accent-color);
  outline: none;
}

.modal__form__input__icon {
  fill: currentColor;
  position: absolute;
  left: 12px;
  top: 50%;
  transition: fill 250ms var(--bezier);
}

.modal__form__input:focus-visible + .modal__form__input__icon {
  fill: var(--accent-color);
}

.modal__form__textarea {
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 120px;
  transition: outline 250ms var(--bezier), border-color 250ms var(--bezier);
}

.modal__form__textarea:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}

.modal__form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form__policy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__form__policy__text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
}

.modal__form__policy__link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal__form__policy__custom__checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-black-color);
  border-radius: 2px;
  transition: fill 250ms var(--bezier), background-color 250ms var(--bezier),
    border-color 250ms var(--bezier);
}

.modal__form__policy__original__checkbox:checked
  + .modal__form__policy__custom__checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.modal__form__policy__original__checkbox:focus
  + .modal__form__policy__custom__checkbox {
  border-color: var(--accent-color);
}

.modal__form__submit__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
}
